@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #e0e5e8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #49454d;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {

}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.logo{
  align-items: center;
}

.navbar{
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.my-navbar{
  background: #49454d;
  border-color: #49454d;
}

.my-navbar .navbar-nav > .active > a{
  background-color: #49454d;
}

.logo-link{
  /*margin-right: -100px;*/
}
